body {
    font-family: "Gilroy bold";
    background-color: var(--color-greensoft);
}

.article {
    background-color: var(--color-greendark);
    margin: 15px;
    border-radius: 12px;
    color: var(--color-whitesoft);
}

.legkippen-titles {
    text-align: left;
    padding: 10px;
    background-color: transparent;
}

.top-info-legkippen {
    margin-bottom: 20px;
}

.vorige-optie {
    display: none;
}

@media (min-width: 768px) {

    body {
        background-color: var(--color-greendark);
    }

    .vorige-optie {
        display: block;
    }

    .article {
        color: var(--color-greendark);
        background-color: var(--color-whitesoft);
        margin-top: 200px;
    }

    .legkippen-titles {
        font-size: 32px;
        color: var(--color-greendark);
    }

    .info {
        color: var(--color-whitesoft);
        margin-left: 40px;
    }

    .article-1 {
        margin-left: 145px;
    }



}