:root {
    --color-yellow: #F7D35D;
    --color-red: #E54F4F;
    --color-greendark: #274B4B;
    --color-greenlight: #4B7173;
    --color-greensoft: #A1C5A3;
    --color-gray: #707070;
    --color-whitesoft: #F5ECEC;

    
}